p.bulkorder-message {
	color: green;
}
p.bulkorder-message.fail {
	color: red;
}
i.bulkorder_spinner {
    height: 20px;
    margin-left: 5px;
    margin-top: 5px;
    position: absolute;
    width: 20px;
    display:none;
   	background-image:url("../assets/spiffygif_30x30.gif");
	background-repeat:no-repeat;
	background-position:right top;
	background-size: 100%;
}
ul.ui-autocomplete{
    z-index: 999999 !important;
}